<li><a href="#" class="nao-clique">
  <span><%= @user.count_of_followers %></span>
  <span class="label"><%= t "application.words.followers" %></span>
</a></li>
<li><a href="#" class="nao-clique">
  <span><%= @user.count_of_followings %></span>
  <span class="label"><%= t "application.words.followings" %></span>
</a></li>
<li><a href="#" class="nao-clique">
  <span><%= @user.count_of_friends %></span>
  <span class="label"><%= t "application.words.friends" %></span>
</a></li>
