<% my_title "New User" %>
<% my_css_files("cadastro") %>

<div id="cadastro">

	<h1>
	  <span><%= t 'view.sign_up.title' %></span>
	  <%= t 'view.sign_up.subtitle' %>
	</h1>
	
  <div class="singup">
    <%= t 'view.sign_up.already' %>
    <%= link_to t("application.header.sign_in"), in_path %>
  </div>
  
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%#= devise_error_messages! %>
  
  		<div class="campos">
  		
        <div class="campo">
          <%= f.label :full_name %>
          <%= f.text_field :full_name %>
        </div>
        <div class="campo">
          <%= f.label :username %>
          <%= f.text_field :username %>
          <%= my_error_msg resource, :username %>
          <div class="legenda">http://executter.com/username</div>
        </div>
        <div class="campo">
          <%= f.label :email %>
          <%= f.text_field :email %>
          <%= my_error_msg resource, :email %>
        </div>
        <div class="campo">
       	  <%= f.label :password %>
          <%= f.password_field :password %>
          <%= my_error_msg resource, :password %>
        </div> 
        <div class="campo">
          <div class="legenda"><%= raw t 'view.sign_up.terms' %></div>
        </div> 

        <% unless Rails.env.development? %>
          <div class="campo">
       	    <label class="label-words"><%= t 'view.sign_up.captcha' %></label>
            <p><%= raw recaptcha_tags %></p>
          </div>
        <% end %>
        
        <div class="bt-sign-in">
            <a href="#" class="form-submit"><%= t 'view.sign_up.submit' %></a>
            <input type="submit" style="display:none"/>
        </div>

        <%= render :partial => "devise/shared/links" %>
        
     </div>

         
  <% end %>
</div>

