<%= content_for :output do %>
<% @posts.each do |post| %>

<div class="pack" style="display:none">
<ul class="lista-executs post" data-id="<%= post.id %>">
  <li class="execute"><%= my_post_links post.body %> </li>

<%= my_post_actions post %>


  <li class="" style="clear:both">
    <% at = post.read_first_post_attachments %>
    <% if at.file? %>
      <%= link_to "d(o.o)b weird song - #{at.file_file_name}", at.file.url, :target=>"_blank" if at.file_music? %>
      <% if at.file_image? %>
        <%= image_tag at.file.url(:sm) %>
        <%= link_to "download the original image", at.file.url, :target=>"_blank" %>
      <% end %>
    <% end %>
  </li>

  <% if false %>
  <% if post.img? %>
  <li class="foto">
    <%= link_to image_tag(post.img.url(:me)), profile_path(post.username) %>
  </li>
  <% end %>
  
  <li class="hora" style="clear:both">
    <%= link_to time_ago_in_words(post.created_at), post %>
  </li>

</ul>
</div>

<% end %>
<% end %>

ajax_content = $("#view1 .ajax-content").addClass("ajax-content-white");
<% if @posts.size > 0 %>
  <% r = raw escape_javascript(yield :output) %>
  ajax_content.append("<%= r %>");
  $(".ajax-content .pack:hidden").slideToggle("slow");
<% else %>
  //alert("acabou!");
<% end %>
