<% if @posts.length > 0 %>
<script type="text/javascript">make_colorbox();</script>
<div class="pack show-more-button" style="display:none">
<% @posts.each do |post| %>
<div class="pack" style="display:none">
<ul class="lista-executs post" data-id="<%= post.id %>">
  <li class="execute">
    <p><%= my_post_links h(post.body) %></p>
  </li>

<%= my_post_actions post %>



<% if post.links %>
  <% post.links.each do |x| %>
    <% filetype = MyF.file_type(x[:url]) %>
      <% if filetype == :jpg %>

<li class="foto">
  <%= link_to image_tag(x[:url], :width=>200), x[:url], :rel=>'thumbnail' %>
</li>

    <% else %>
      
<li class="hora" style="clear:both">
  <span>
    <img border="0" width="16" height="16" alt="<%= filetype %>" src="/images/layout1/anexo/<%= filetype %>.gif">
    <%= link_to x[:name], x[:url], :target=>"_blank" %>
  </span>
</li>

    <% end %>
  <% end %>
<% end %>

  

  
  <li class="hora" style="clear:both">
      <%= link_to "#{time_ago_in_words post.created_at} - #{l post.created_at, :format => :short}", post %>
  </li>

</ul>
</div>
<% end %>
</div>
<% end %>
<% if !params[:after] %>
  <div class="p-botao">
    <a id="btn-more" href="#" class="viewstack-ajax-trigger" style="display:none">More</a>
  </div>
<% end %>
<script>bitly();</script>
