<% content_for :output_panel do %>

<ul class="menu-add">

  <li class="user"><%= @user.username %></li>

  <% if @r %>
    <% unless @r.is_blocker %>
    <li class="mais">
      <%= link_to @main_button[:text], "#", :class=>"clickable", 'data-url'=>relation_user_path(@main_button[:params]) if @main_button %>
    </li>
    <% end %>
    
    <% if @r.is_blocker %>
      <li class="topico">
        <img src="/images/layout/remov_tag1.gif" width="17" height="15" alt="Block" />
        <%= t 'view.user.show.relationship.blocking', :username=>@user.username %>
        <a href="#" class="clickable" data-url="<%= relation_user_path({:p1=>'block', :p2=>0}) %>">(<%= t 'view.user.show.relationship.blocking_stop'%>)</a>
      </li>
    <% end %>
    <% if @r.is_blocked %>
      <li class="topico">
        <img src="/images/layout/remov_tag1.gif" width="17" height="15" alt="Block" />
          <%= t 'view.user.show.relationship.blocked', :username=>@user.username %>
       </li>
    <% else %>
    
      <% if @r.is_follower %>
        <li class="topico">
          <img src="/images/layout/ok.jpg" width="17" height="15" alt="ok" />
          <%= t 'view.user.show.relationship.following' %>
        </li>
      <% end %>
      
      <% if @r.is_friend %>
        <li class="topico">
          <img src="/images/layout/ok.jpg" width="17" height="15" alt="ok" />
          <%= t 'view.user.show.relationship.friend' %>
        </li>
      <% elsif @r.is_followed %>
        <li class="topico">
          <img src="/images/layout/ok.jpg" width="17" height="15" alt="ok" />
          <%= t 'view.user.show.relationship.followed' %>
        </li>
      <% end %>
      
    <% end %>
  <% end %>
  
</ul>


  <% if @r %>

  
<div class="chama-menu shifter" data-target="#menu-estilos">
	<img src="/images/layout/Menu.gif" width="16" height="16" />
	<a href="#">
		<img src="/images/layout/arrow_icon.png" width="16" height="16" />
  </a>
</div>

<ul id="menu-estilos" style="display:none">

  <% if current_user.admin %>
    <% if @user.is_host %>
      <li><a href="<%= set_host_user_path(@user.id, 0) %>">
        <img src="/images/layout/0_Block.gif" width="16" height="16" />
        tirar anfitrião
      </a></li>
    <% else %>
      <li><a href="<%= set_host_user_path(@user.id, 1) %>">
        <img src="/images/layout/0_Block.gif" width="16" height="16" />
        tornar anfitrião
      </a></li>
    <% end %>
  <% end %>

  <% if @r.is_follower %>
  
  <%= content_tag :li,
    link_to(raw("<img src='/images/layout/0_Unfollow.gif' /> Unfollow"), "#", :class=>"clickable",
      'data-url'=>relation_user_path({:p1=>'follow', :p2=>false})) %>
      
  <% end %>
  
  <% if @r.is_blocker %>

    <li><a href="#" class="clickable"
      data-url="<%= relation_user_path({:p1=>'block', :p2=>0}) %>">
      <img src="/images/layout/0_Unblock.gif" width="16" height="16" />
      <%= t "profile.button_block2", :username=> @user.username %>
    </a></li>
  <% else %>
    <li><a href="#" class="clickable"
      data-url="<%= relation_user_path({:p1=>'block', :p2=>1}) %>">
      <img src="/images/layout/0_Block.gif" width="16" height="16" />
      <%= t "profile.button_block1", :username=> @user.username %>
    </a></li>
  <% end %>
  
</ul>
  
  <% end %>
<% end %>


<% r = raw escape_javascript(yield :output_panel) %>
$("#user-following .in").hide().removeClass("loading").html("<%= r %>").fadeIn();

<% r = raw escape_javascript render("parts/user_counters") %>
$("#sidebar .user_counters").removeClass("loading").html("<%= r %>");


