<div class="view-in">

<% my_titles = [t('profile.tabs.1'),t('profile.tabs.2'),t('profile.tabs.3')] %>

<ul id="menu-abas">
<% if params[:tab_id]== '1' %>
  <li class="atual"><%= my_titles[0] %></li>
  <li><a href="#" class="tab-switcher" data-tab="#view2"><%= my_titles[1] %></a></li>
  <li><a href="#" class="tab-switcher" data-tab="#view3"><%= my_titles[2] %></a></li>
<% elsif params[:tab_id]== '2' %>
  <li><a href="#" class="tab-switcher" data-tab="#view1"><%= my_titles[0] %></a></li>
  <li class="atual"><%= my_titles[1] %></li>
  <li><a href="#" class="tab-switcher" data-tab="#view3"><%= my_titles[2] %></a></li>
<% elsif params[:tab_id]== '3' %>
  <li><a href="#" class="tab-switcher" data-tab="#view1"><%= my_titles[0] %></a></li>
  <li><a href="#" class="tab-switcher" data-tab="#view3"><%= my_titles[1] %></a></li>
  <li class="atual"><%= my_titles[3] %></li>
<% end %>
</ul>

<div class="ajax-content">

</div>

</div>
