<%= content_for :output do %>
<% @posts.each do |post| %>

<div class="pack" style="display:none">
<ul class="lista-executs post" data-id="<%= post.id %>">
  <li class="execute">
    <div>
        
      <p><%= my_post_links post.body %></p>
      <% at = post.read_first_post_attachments %>
      <% if at.file? %>
        <% if at.file_image? %>
          <p style="margin-top:10px"><%= link_to image_tag(at.file.url(:me)), at.file.url, :target=>"_blank" %></p>
          <p>Format: <%= at.file_content_type %></p>
          <p>Size: <%= number_to_human_size at.file_file_size %></p>
          <p></p>
        <% else %>
          <p style="margin-top:10px">
            <img border="0" width="16" height="16" alt="Name" src="/images/layout/havatar16x16.jpg">
            <%= link_to at.file_file_name, at.file.url, :target=>"_blank" %>
          </p>
        <% end %>
      <% end %>
      
    </div>

  </li>

<%= my_post_actions post %>
  
  <li class="hora" style="clear:both">
    <%= link_to time_ago_in_words(post.created_at), post %>
  </li>

</ul>
</div>

<% end %>
<% end %>

ajax_content = $("#view1 .ajax-content").addClass("ajax-content-white");
<% if @posts.size > 0 %>
  <% r = raw escape_javascript(yield :output) %>
  ajax_content.append("<%= r %>");
  $(".ajax-content .pack:hidden").slideToggle("slow");
<% else %>
  //alert("acabou!");
<% end %>
