<% content_for :output_panel do %>

<ul class="menu-add">

  <li class="user"><%= @user.username %></li>
  <% if @r %>
    <li class="mais">
      <%= link_to @main_button[:text], "#", :class=>"clickable", 'data-url'=>ajax_user_show_relation_path(@main_button[:params]) if @main_button %>
    </li>
    
    <% if @r.is_blocked %>
      <li class="topico"><img src="/images/layout/ok.jpg" width="17" height="15" alt="ok" /> U B-in Block'd</li>
    <% else %>
    
      <% if @r.is_follower %>
        <li class="topico"><img src="/images/layout/ok.jpg" width="17" height="15" alt="ok" /> Following</li>
      <% end %>
      
      <% if @r.is_friend %>
        <li class="topico"><img src="/images/layout/ok.jpg" width="17" height="15" alt="ok" /> Friend</li>
      <% elsif @r.is_followed %>
        <li class="topico"><img src="/images/layout/ok.jpg" width="17" height="15" alt="ok" /> Followed</li>
      <% end %>
      
    <% end %>
  <% end %>
  
</ul>


  <% if @r %>

  
<div class="chama-menu">
	<img src="/images/layout/Menu.gif" width="16" height="16" />
	<a href="#">
		<img src="/images/layout/arrow_icon.png" width="16" height="16" />
  </a>
</div>

<ul id="menu-estilos">
  <% if @r.is_blocker %>

  
    <li><a href="#" class="clickable"
      data-url="<%= ajax_user_show_relation_path({:p1=>'block', :p2=>0}) %>">
      <img src="/images/layout/0_Unblock.gif" width="16" height="16" />
      <%= t "profile.button_block2", :username=> @user.username %>
    </a></li>
  <% else %>
    <li><a href="#" class="clickable"
      data-url="<%= ajax_user_show_relation_path({:p1=>'block', :p2=>1}) %>">
      <img src="/images/layout/0_Block.gif" width="16" height="16" />
      <%= t "profile.button_block1", :username=> @user.username %>
    </a></li>
  <% end %>
  <% if @r.is_follower %>

  
    <% @user.subjects.each do |subject| %>
      <% if @r.ignoring? subject.id %>


<%= content_tag :li,
  link_to(raw("<img src='/images/layout/0_Follow.gif' /> watch #{subject.name}"), "#", :class=>"clickable",
    'data-url'=>ajax_user_show_relation_path({:p1=>'subject', :p2=>subject.id})) %>

      <% else %>

<%= content_tag :li,
  link_to(raw("<img src='/images/layout/0_Block.gif' /> ignore #{subject.name}"), "#", :class=>"clickable",
    'data-url'=>ajax_user_show_relation_path({:p1=>'subject', :p2=>subject.id})) %>

      <% end %>
    <% end %>

    
  <% end %>
</ul>

  <!--

  <li><a href="#">
    <img src='/images/layout/0_Follow.gif' />
      <%#= t "profile.button_watch1", :subject=> subject.name %>
  </a></li>

  <li><a href="#">
    <img src="/images/layout/0_Block.gif" width="16" height="16" />
      <%#= t "profile.button_watch2", :subject=> subject.name %>
  </a></li>


  
<ul id="menu-estilos">
	<li><a href="#"><img src="/images/layout/0_metion.gif" width="16" height="16" /> Mention MariaMia</a></li>
  <li><a href="#"><img src="/images/layout/0_Follow.gif" width="16" height="16" /> Follow MariaMia</a></li>
  <li><a href="#"><img src="/images/layout/0_AddFriend.gif" width="16" height="16" /> Add as Friend MariaMia</a></li>
  <li><a href="#"><img src="/images/layout/0_Unfollow.gif" width="16" height="16" /> Unfollow MariaMia</a></li>
  <li><a href="#"><img src="/images/layout/0_Block.gif" width="16" height="16" /> Block MariaMia</a></li>
  <li><a href="#"><img src="/images/layout/0_Unblock.gif" width="16" height="16" /> Unblock MariaMia</a></li>
  <li><a href="#"><img src="/images/layout/0_Spam.gif" width="16" height="16" /> Report for Spam</a></li>
</ul>
  -->
  
  <% end %>
<% end %>
<% content_for :output_sidebar do %>
  <li><a href="#" class="nao-clique">
    <span><%= @user.count_of_followers %></span>
    <span class="label"><%= t "application.words.followers" %></span>
  </a></li>
  <li><a href="#" class="nao-clique">
    <span><%= @user.count_of_followings %></span>
    <span class="label"><%= t "application.words.followings" %></span>
  </a></li>
  <li><a href="#" class="nao-clique">
    <span><%= @user.count_of_friends %></span>
    <span class="label"><%= t "application.words.friends" %></span>
  </a></li>
  <%if false%>
  <li><a href="#" class="nao-clique">
    <span><%= @user.count_of_blockings %></span>
    <span class="label">bloqueando</span>
  </a></li>
  <li><a href="#" class="nao-clique">
    <span><%= @user.count_of_blockers %></span>
    <span class="label">bloqueados</span>
  </a></li>
  <% end %>
<% end %>


<% r = raw escape_javascript(yield :output_panel) %>
$("#user-following .in").hide().removeClass("loading").html("<%= r %>").fadeIn();

<% r = raw escape_javascript(yield :output_sidebar) %>
$("#sidebar .user_counters").removeClass("loading").html("<%= r %>");


