<% my_title @user.username %>
<% my_css_files "profile" %>

<%= hidden_field_tag :main_data, false,
  :"data-user-id" => @user.id,
  :"data-user-is-me" => !!@isme,
  :"data-user-has-photo" => !@user.read_photo.new_record?,
  :"data-visitor-logged-in" => !!current_user
  %>

<div id="sidebar">



  <div id="user-perfil">
    <p><strong>Name</strong> <%= @user.full_name %></p>
    <p><strong>Location </strong> <%= @user.local %></p>
    <p><strong>Language </strong> <%= @user.locale %></p>
    <p><strong>Time Zone </strong> <%= @user.time_zone %></p>
    <p><strong>Birthday </strong><%= l @user.birth %></p>
    <p><strong>Web  </strong> <%= link_to @user.website, @user.website if @user.website %></p>
    <p><strong>Bio  </strong> <%= @user.description %></p>
  </div>


  <div class="ajax_data">
  </div>
  
  <ul id="estatistics" class="user_counters">
  </ul>
  
  <h3><a href="#"><%= t "application.words.followings" %></a></h3>	
  <div id="labels-thumbs">
  
 	  <% @user.followings_users.each do |user| %>
 	    <%= link_to image_tag(user.read_photo.img.url(:mi), width: 25, height: 25), profile_path(user.username), :title=>user.full_name %>
    <% end %>
  </div>
  <div class="more"><a href="#" class="nao-clique">View all</a></div>





    
    <div class="rss"><a href="#" class="nao-clique"><img src="/images/layout/RSS16.png" width="16" height="16" />RSS feed de <%= @user.username %></a></div>





<%if false%>

<br/><br/><br/><br/>

          <h3><a href="#">USUARIOS</a></h3>
          <div class="menu">
	          <!--
            <a href="#"><span class="desc">Friends</span><span>5</span></a>
            <a href="#"><span class="desc">Mention</span><span>2</span></a>
            -->
            <% all_users.each do |u| %>
              <a href="<%= profile_path u.username %>"><span class="desc"><%= u.email %></span><span>:)</span></a>
            <% end %>
          </div>
<% end %>





</div>





<div id="container">

  <div id="img-user"
    style="background:url('<%= @user.read_photo.img.url(:bi) %>') no-repeat">
    <% if @isme %>
  	<a href="/conf/4" style="display:none"><img src="/images/layout/busca_photo.png" width="100" height="100" alt="Buscar foto" border="0" /></a>
  	<% end %>
  </div>






    
          <div id="user-following">
            <div class="in">
            </div>
          </div>




  
<div id="viewstack" data-selected="#view1">
  <div id="view1" class="view" data-url="<%= ajax_user_show_tab1_path @user %>">
  </div>
  <div id="view2" class="view" data-url="<%= ajax_user_show_tab2_path @user %>">
  </div>
  <div id="view3" class="view" data-url="<%= ajax_user_show_tab3_path @user %>">
  </div>
</div>

    


                
  </div>





<%if false%>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Encrypted Password:</strong>
  <%= @user.encrypted_password %>
</p>
<p>
  <strong>Password Salt:</strong>
  <%= @user.password_salt %>
</p>
<p>
  <strong>Reset Password Token:</strong>
  <%= @user.reset_password_token %>
</p>
<p>
  <strong>Remember Token:</strong>
  <%= @user.remember_token %>
</p>
<p>
  <strong>Remember Created At:</strong>
  <%= @user.remember_created_at %>
</p>
<p>
  <strong>Sign In Count:</strong>
  <%= @user.sign_in_count %>
</p>
<p>
  <strong>Current Sign In At:</strong>
  <%= @user.current_sign_in_at %>
</p>
<p>
  <strong>Last Sign In At:</strong>
  <%= @user.last_sign_in_at %>
</p>
<p>
  <strong>Current Sign In Ip:</strong>
  <%= @user.current_sign_in_ip %>
</p>
<p>
  <strong>Last Sign In Ip:</strong>
  <%= @user.last_sign_in_ip %>
</p>
<p>
  <strong>Confirmation Token:</strong>
  <%= @user.confirmation_token %>
</p>
<p>
  <strong>Confirmed At:</strong>
  <%= @user.confirmed_at %>
</p>
<p>
  <strong>Confirmation Sent At:</strong>
  <%= @user.confirmation_sent_at %>
</p>
<p>
  <strong>Failed Attempts:</strong>
  <%= @user.failed_attempts %>
</p>
<p>
  <strong>Unlock Token:</strong>
  <%= @user.unlock_token %>
</p>
<p>
  <strong>Locked At:</strong>
  <%= @user.locked_at %>
</p>
<p>
  <strong>Authentication Token:</strong>
  <%= @user.authentication_token %>
</p>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Full Name:</strong>
  <%= @user.full_name %>
</p>

<p>
</p>
    <% end %>
