<% content_for :sub_header do %>
<%= raw render("parts/sub_header_register") %>
<% end %>

<% my_title @user.username %>
<% my_css_files "profile" %>




<% @user.website = h("http://#{@user.website}") if  !@user.website.blank? && @user.website[0..4]!='http' %>

<div id="sidebar">

  <div id="user-perfil">
    <%= profile_field(@user, "Name", 'full_name') %>
    <%= profile_field(@user, "Location", 'local') %>
    <%= profile_field(@user, "Birthday", 'birth', @user.birth_to_s) if @user.birth? %>
    <%= profile_field(@user, "Gender", 'gender_to_s', @user.gender_to_s) if @user.gender? %>
    <%= profile_field(@user, "Web", 'website', link_to(@user.website, @user.website)) unless @user.website.blank? %>
    <%= profile_field(@user, "Bio", 'description') %>
    <% if current_user && current_user.admin? %>
    
    <p style="margin-top:20px"><strong>Admin </strong> </p>
    <%= profile_field(@user, "New", 'created_at', l(@user.created_at) ) %>
    <%= profile_field(@user, "In", 'last_sign_in_at', l(@user.last_sign_in_at) ) %>
    
    <%= profile_field(@user, "Logins", 'sign_in_count' ) %>
    <%= profile_field(@user, "E-mail", 'email' ) %>
    
    <% end %>
  </div>

  <ul id="estatistics" class="user_counters">
  </ul>

  <%= render 'parts/search_box' %>


  

<br/><br/><br/><br/>
          <h3><a href="#">Últimos Cadastros</a></h3>	
          <div class="menu">
	          <!--
            <a href="#"><span class="desc">Friends</span><span>5</span></a>
            <a href="#"><span class="desc">Mention</span><span>2</span></a>
            -->
            <% all_users.limit(20).each do |u| %>
              <a href="<%= profile_path u.username %>">
                <span class="desc">@<%= u.username %></span>
              </a>
            <% end %>
          </div>

    <h3><a href="#"><%= t "application.words.followings" %></a></h3>	
    <div id="labels-thumbs"></div>

    <%= activity_feed if params[:facebook] %>
    
</div>





<div id="container">

  <div id="img-user"
    style="background:url('<%= @user.read_photo.img.url(:bi) %>') no-repeat">
    <% if @isme %>
  	<a href="/h/5" style="display:none"><img src="/images/layout/busca_photo.png" width="100" height="100" alt="Buscar foto" border="0" /></a>
  	<% end %>
  </div>






    
          <div id="user-following">
            <div class="in">
            </div>
          </div>



<div id="viewstack" data-selected="#view1">
  <div id="view1" class="view"
    data-url="<%= ajax_tab_user_path @user.id, 1 %>"
    data-url2="<%= ajax_tab_data_user_path @user.id, 1 %>"
    >
  </div>
  <div id="view2" class="view"
    data-url="<%= ajax_tab_user_path @user.id, 2 %>"
    data-url2="<%= ajax_tab_data_user_path @user.id, 2 %>"
    >
  </div>
  <div id="view3" class="view"
    data-url="<%= ajax_tab_user_path @user.id, 3 %>"
    data-url2="<%= ajax_tab_data_user_path @user.id, 3 %>"
    >
  </div>
</div>

    


                
  </div>





<%if false%>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Encrypted Password:</strong>
  <%= @user.encrypted_password %>
</p>
<p>
  <strong>Password Salt:</strong>
  <%= @user.password_salt %>
</p>
<p>
  <strong>Reset Password Token:</strong>
  <%= @user.reset_password_token %>
</p>
<p>
  <strong>Remember Token:</strong>
  <%= @user.remember_token %>
</p>
<p>
  <strong>Remember Created At:</strong>
  <%= @user.remember_created_at %>
</p>
<p>
  <strong>Sign In Count:</strong>
  <%= @user.sign_in_count %>
</p>
<p>
  <strong>Current Sign In At:</strong>
  <%= @user.current_sign_in_at %>
</p>
<p>
  <strong>Last Sign In At:</strong>
  <%= @user.last_sign_in_at %>
</p>
<p>
  <strong>Current Sign In Ip:</strong>
  <%= @user.current_sign_in_ip %>
</p>
<p>
  <strong>Last Sign In Ip:</strong>
  <%= @user.last_sign_in_ip %>
</p>
<p>
  <strong>Confirmation Token:</strong>
  <%= @user.confirmation_token %>
</p>
<p>
  <strong>Confirmed At:</strong>
  <%= @user.confirmed_at %>
</p>
<p>
  <strong>Confirmation Sent At:</strong>
  <%= @user.confirmation_sent_at %>
</p>
<p>
  <strong>Failed Attempts:</strong>
  <%= @user.failed_attempts %>
</p>
<p>
  <strong>Unlock Token:</strong>
  <%= @user.unlock_token %>
</p>
<p>
  <strong>Locked At:</strong>
  <%= @user.locked_at %>
</p>
<p>
  <strong>Authentication Token:</strong>
  <%= @user.authentication_token %>
</p>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Full Name:</strong>
  <%= @user.full_name %>
</p>

<p>
</p>
    <% end %>
