
<% tabs_titles = t 'view.home.index.tabs' %>

<ul id="menu-abas">
<% if params[:tab_id]== '1' %>
  <% sub_header = tabs_titles[0] %>
  <li class="atual"><%= tabs_titles[0] %></li>
  <li><a href="#" class="tab-switcher" data-tab="#view2"><%= tabs_titles[1] %></a></li>
  <li><a href="#" class="tab-switcher" data-tab="#view3"><%= tabs_titles[2] %></a></li>
<% elsif params[:tab_id]== '2' %>
  <% sub_header = tabs_titles[1] %>
  <li><a href="#" class="tab-switcher" data-tab="#view1"><%= tabs_titles[0] %></a></li>
  <li class="atual"><%= tabs_titles[1] %></li>
  <li><a href="#" class="tab-switcher" data-tab="#view3"><%= tabs_titles[2] %></a></li>
<% elsif params[:tab_id]== '3' %>
  <% sub_header = tabs_titles[2] %>
  <li><a href="#" class="tab-switcher" data-tab="#view1"><%= tabs_titles[0] %></a></li>
  <li><a href="#" class="tab-switcher" data-tab="#view3"><%= tabs_titles[1] %></a></li>
  <li class="atual"><%= tabs_titles[2] %></li>
<% end %>
</ul>

<div style="background:white">
  
  <h1><%= sub_header %></h1>

<ul class="alert has-new-posts" style="margin-bottom:10px;display:none">
  <li><img src="/images/layout/Favicon_GIF.gif"><a href="#" class="viewstack-ajax-trigger-after">New Posts</a> on this page</li>
</ul>

  <div class="ajax-content">
  </div>
  
</div>
