<% content_for :output do %>
<% @posts.each do |post| %>
  <% user = @my_followings_hash[post.user_id] %>

<div class="pack" style="display:none">
  <ul class="lista-execute post" data-id="<%= post.id %>">
	  <li class="havatar">
	    <a href="#">
	      <img src="<%= user.my_last_photo.file.url(:sm) %>" width="50" height="50" alt="Name" border="0" />
	    </a>
	  </li>
    <li class="execute">
      <%= link_to user.username, profile_path(user.username) %>
      <%= my_post_links post.body %>
    </li>
      
<%= my_post_actions post %>

    <li class="" style="clear:both">
      <% at = post.read_first_post_attachments %>
      <% if at.file? %>
        <%= link_to "d(o.o)b weird song - #{at.file_file_name}", at.file.url, :target=>"_blank" if at.file_music? %>
        <% if at.file_image? %>
          <%= image_tag at.file.url(:sm) %>
          <%= link_to "download the original image", at.file.url, :target=>"_blank" %>
        <% end %>
      <% end %>
    </li>

<%#&& post.img?  %>
      <% if false %>
      <li class="foto">
        <%#= image_tag post.img.url(:me) %>
      </li>
      <% end %>
      
    <li class="hora" style="clear:both">
      <%= link_to time_ago_in_words(post.created_at), post %>
    </li>

    
  </ul>
</div>
<% end %>
<% end %>

ajax_content = $("#view1 .ajax-content").addClass("ajax-content-white");

<% if @posts.size > 0 %>
  <% r = raw escape_javascript(yield :output) %>
  ajax_content.append("<%= r %>");
  $(".ajax-content .pack:hidden").slideToggle("slow");
<% else %>
  //$("#view1 .p-botao").hide();
  //alert("acabou!");
<% end %>



