<% content_for :output do %>
<% @posts.each do |post| %>
  <% user = @my_followings_hash[post.user_id] %>

<div class="pack" style="display:none">
  <ul class="lista-execute post" data-id="<%= post.id %>">
	  <li class="havatar">
	    <a href="#">
	      <img src="<%= user.my_last_photo.img.url(:sm) %>" width="50" height="50" alt="Name" border="0" />
	      
	    </a>
	  </li>
    <li class="execute"><a href="#"><%= user.username %></a> <%= post.body %></li>
      
<li class="icons">
  <a href="#" class="nao-clique"><img src="/images/layout/execut_icon.png" width="16" height="16" alt="Name" border="0" /></a>
  <a href="#" class="nao-clique"><img src="/images/layout/write_icon.png" width="16" height="16" alt="Name" border="0" /></a>
  <a href="#" class="nao-clique"><img src="/images/layout/list_icon.png" width="16" height="16" alt="Name" border="0" /></a>
  <%= link_to raw("<img src='/images/layout/trash_icon.png' border='0' />"), post, :method => :delete, :remote=>true %>
  <!--
  <%= link_to raw("<img src='/images/layout/trash_icon.png' border='0' />"), post, :confirm => 'Are you sure?', :method => :delete, :remote=>true %>
  <a href="#" class="delete-post"><img src="/images/layout/trash_icon.png" width="16" height="16" alt="Name" border="0" /></a>
  -->
</li>


      <% if post.img? %>
      <li class="foto">
        <%= image_tag post.img.url(:me) %>
      </li>
      <% end %>


      
      <li class="hora" style="clear:both">
        <a href="<%= post_path post %>"><img src="/images/layout/havatar16x16.jpg" width="16" height="16" />
          <%= time_ago_in_words post.created_at %>
        </a> - From <%= post.remote_ip %>@Executter</li>
        <!--
      <li class="links"><a href="#" class="nao-clique">Link 1</a><a href="#" class="nao-clique">Link 2</a></li>
      -->
  </ul>
</div>
<% end %>
<% end %>

ajax_content = $("#view1 .ajax-content").addClass("ajax-content-white");

<% if @posts.size > 0 %>
  <% r = raw escape_javascript(yield :output) %>
  ajax_content.append("<%= r %>");
  $(".ajax-content .pack:hidden").slideToggle("slow");
<% else %>
  //$("#view1 .p-botao").hide();
  //alert("acabou!");
<% end %>



