<% content_for :output do %>
<% @posts.each do |post| %>

<div class="pack" style="display:none">
  <ul class="lista-execute post" data-id="<%= post.id %>">
	  <li class="havatar">
	    <a href="/<%= post.user.username %>">
	      <img src="<%= post.user.read_photo.img.url(:sm) %>" alt="<%= post.user.username %>" border="0" />
	    </a>
	  </li>
    <li class="execute">
      <%= link_to post.user.username, profile_path(post.user.username) %>
	    <%= "speaks about *#{post.subject.name}*" if post.subject %>
      <p><%= my_post_links post.body %></p>
    </li>
      
<%= my_post_actions post %>


    <% at = post.read_first_post_attachments %>
    <% if at.file? %>
      <% if at.file_image? %>

<li class="foto">
  <%= link_to image_tag(at.file.url(:me)), at.file.url, :target=>"_blank" %>
  <span><%= link_to "Baixar arquivo original", at.file.url, :target=>"_blank" %></span><br/>
  <span>Format: <%= at.file_content_type %></span><br/>
  <span>Size: <%= number_to_human_size at.file_file_size %></span><br/>
  <span>Dimensões: <%= "#{at.file_width}x#{at.file_height}" %></span><br/>
</li>

      <% else %>
      
<li class="hora" style="clear:both">
  <span>
    <img border="0" width="16" height="16" alt="Name" src="/images/layout/havatar16x16.jpg">
    <%= link_to at.file_file_name, at.file.url, :target=>"_blank" %>
  </span>
</li>

      <% end %>
    <% end %>

    <li class="hora" style="clear:both">
      <%= link_to "#{l post.created_at, :format => :short} - #{time_ago_in_words(post.created_at)}", post %>
    </li>
    
  </ul>
</div>
<% end %>
<% end %>


ajax_content = $("#view1 .ajax-content").addClass("ajax-content-white");

<% if @posts.size > 0 %>
  <% r = raw escape_javascript(yield :output) %>
  ajax_content.append("<%= r %>");
  $(".ajax-content .pack:hidden").slideToggle("slow");
<% else %>
  //$("#view1 .p-botao").hide();
  //alert("acabou!");
<% end %>

setTimeout(function() {
  $("#btn-more").fadeIn();
}, 300);

