<% my_title "Settings" %>
<% my_css_files "settings" %>

<%= my_settings_tabs(4) %>


<%= form_for(current_user, :url=>home_new_photo_path, :html=>{:multipart=>true, :class=>"campos-settings"}) do |f| %>
<%= my_orange_errors(@errors) %>


<% if false  %>
<ul class="alert-settings">
  <% @errors.full_messages.each do |msg| %>
    <li><img src="/images/layout/havatar16x16.jpg" width="16" height="16" /><%= msg %></li>
  <% end %>
</ul>
<% end %>

  
  <div id="campos">
    <%= image_tag @user.read_photo.img.url(:bi), class: "havatar" %>
    <div id="file">
      <div><%= raw t('settings.agree_file.title') %></div>
      <%= file_field_tag :photo %>
      <span><%= t 'settings.agree_file.content', :size => "1MB" %></span>

      <input type="submit" class="bt" value="Salvar" />
      
    </div>
  </div>
  
<% end %>

<%= raw @page.body %>
