<% my_title "Settings" %>
<% my_css_files "settings" %>

<%= my_settings_tabs(2) %>

<%= form_for(current_user, :url=>home_update_path, :html=>{:class=>"campos-settings"}) do |f| %>
<%#= form_for(current_user, :url => registration_path('user'), :html=>{:class=>"campos-settings"}) do |f| %>

<%= hidden_field_tag(:return_action, params[:return_action] || controller.action_name) %>
<%= my_orange_errors(@errors) %>


   	  		<div id="campos">
                
     	    		<div class="normal">
					      <%= f.label :password %>
                <%= f.password_field :password %>
              </div>
        		  <div class="normal">
					      <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation %>
              </div>
              
              <div id="box-senha">
              	<div>You must re-enter your current password.</div>
    					  <%= f.label :current_password %>
                <%= f.password_field :current_password %>
              </div>
              
              <div class="recuo">
					        <input type="submit" class="bt" value="Save" />
        		  </div>
        		  
              <div class="desativar">
                <a href="#">» Desativar minha conta</a>
              </div>
              
            </div>
            
<% end %>
          
          <ul id="box-infos">
          	<li class="titulo">Dicas</li>
            <li><span>»</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</li>
            <li><span>»</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</li>

            <li><span>»</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</li>
            <li><span>»</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</li>
            <li><span>»</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</li>
          </ul>


<%if false%>
<h3>Cancel my account</h3>

<p>Unhappy? <%#= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<% end %>
