<%= form_for(@xlink) do |f| %>
  <% if @xlink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@xlink.errors.count, "error") %> prohibited this xlink from being saved:</h2>

      <ul>
      <% @xlink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :micro %><br />
    <%= f.text_field :micro %>
  </div>
  <div class="field">
    <%= f.label :file %><br />
    <%= f.file_field :file %>
  </div>
  
  <% if false %>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :micro %><br />
    <%= f.text_field :micro %>
  </div>
  <div class="field">
    <%= f.label :file_width %><br />
    <%= f.text_field :file_width %>
  </div>
  <div class="field">
    <%= f.label :file_height %><br />
    <%= f.text_field :file_height %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
