<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_profile.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @user_profile.name %>
</p>

<p>
  <b>Birth:</b>
  <%= @user_profile.birth %>
</p>


<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
