<% content_for :sub_header do %>
<%= raw render("parts/sub_header_register") %>
<% end %>

<div class="in">
  <h1><%= "#{time_ago_in_words @post.created_at} - #{l @post.created_at, :format => :short}" %></h1>


  <% at = @post.read_first_post_attachments %>
  <% if at.file? && at.file_image? %>
    <%= image_tag at.file.url(:original), :class=>"file" %>
  <% end %>
  
  <div class="fl l">
    <a href="/<%= @post.user.username %>">
      <img src="<%= @post.user.read_photo.img.url(:me) %>" border="0" />
    </a>
  </div>
  <div class="fl r">
    <%= link_to @user.username, profile_path(@post.user.username) %>
    <%= content_tag :span, @post.user.full_name, :class=>:full_name %>
    <%= content_tag :span, my_post_links(@post.body), :class=>:body %>

    <%#= content_tag :span, "#{t 'model.subject.model_name'}: #{@post.subject.name}", :class=>:subject if @post.subject %>
    
  <% if at.file? && !at.file_image? %>
    <span class="file">
      <img border="0" width="32" height="32" alt="Name" src="/images/layout1/anexo/_attach.gif">
      <%= link_to at.file_file_name, at.file.url, :target=>"_blank" %>
      (<%= number_to_human_size at.file_file_size %>)
    </span>
  <% end %>
  </div>

</div>
