<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= csrf_meta_tag %>
  <% my_css_files "base", "header","cadastro","sabor","sidebar","footer" %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= yield(:title) || "Executter" %></title>
  <link rel="shortcut icon" href="/images/layout/favicon.ico" />
  
  <%= javascript_include_tag :defaults, 'jquery.form', 'jquery.validate.min' %>
  
  <%= yield(:css_files) %>
  <%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.7.custom', 'application' %>
  <%= my_flavour_stylesheet %>
  <!--[if IE 6]>
  <script src="/layout1/DD_belatedPNG_0.0.8a-min.js"></script>
  <script>  DD_belatedPNG.fix('.png_bg, img, h3, input, .labels, .desenho, #menu-estilos, .logo '); </script>
  <style type="text/css">body { behavior:url(/layout1/csshover.htc); }</style>
  <![endif]-->
  <% if @user %>
  <style type="text/css">
    body {background:transparent none}
    html {
      <%= "background-color: #{@user.background_color};" unless @user.background_color.blank?  %>
      <% if @user.background_image? %>
      background-image:url("<%= @user.background_image.url %>");
      background-repeat:<%= User::BACKGROUND_REPEAT_POLICIES[@user.background_repeat_policy] %>;
      background-attachment: scroll;
      <% end %>
      }
  </style>
  <% end %>
  <script>
  function bitly() { $('.bitly').remove();$("body").append("<img class='bitly' src='http://bit.ly/executter' style='display:none'/>"); }
  $(function() { bitly(); });
  </script>
</head>
<body <%= body_class %>>
	<div id="all">
    	<div id="header">
   	    <a href="/" title="Executter" class="logo"></a>
			  <div id="menu">

<% if current_user? %>
  <%= link_to t("application.header.sign_out"), out_path %>
  <%#= link_to t("application.header.orientation"), "#" %>
  <%= link_to t("application.header.settings"), "/h/1" %>
  <%#= link_to t("application.header.find_people"), "#" %>
  <%= link_to t("application.header.profile"), profile_path(current_user.username) %>
  <%= link_to t("application.header.home"), "/" %>
<% else %>
  <%= link_to t("application.header.sign_up"), new_path %>
  <%= link_to t("application.header.sign_in"), in_path %>
<% end %>

        </div>
      </div>

<%= yield :sub_header if content_for? :sub_header %>

      <div id="content">

<%= hidden_field_tag :main_data, false,
  :"data-user-id" => @user.id,
  :"data-user-is-me" => !!@isme,
  :"data-user-has-photo" => !@user.read_photo.new_record?,
  :"data-visitor-logged-in" => !!current_user if @user
  %>
  
<%#= my_flash_keys %>
<%= yield %>


      </div>
      <div id="footer" class="push">
      	<span>Executter Beta &copy; 2011</span>
      	  <p class="locale_setters">
      	  <% User.LOCALES.each do |k,v| %>
            <%= link_to k, locale_path(v) %>
      	  <% end %>
          </p>
          <ul id="menu-footer">
          	<li><%= link_to t("application.footer.about_us"), "http://executter-pt.blogspot.com/", :target=>"_blank" %></li>
          	<li><%= link_to "Blog", "http://executter-pt.blogspot.com/", :target=>"_blank" %></li>
          	<li><%= link_to t("application.footer.terms"), z_path(Page::KEY_TERMS) %></li>
          </ul>
      </div>

<% if true && Rails.env.development? %>
<div style="background:#fff;color:#000;border:#000 solid 1px;padding:10px;clear:both">
<h3>params</h3>
<%= debug params %>
<h3>cookies</h3>
<%#= debug cookies %>
<h3>session</h3>
<%#= debug session %>
<h3>request env</h3>
<small><%#= debug request.env %></small>
</div>
<% end %>


<% if MyF.production? %>
<div style="margin: 10px 0">
<script type="text/javascript" src="http://ja.revolvermaps.com/p.js"></script><script type="text/javascript">rm2d_ki101('3','800','400','02qutebmlqz','ff8a00',0);</script>
</div>
<script type='text/javascript'>
var gaJsHost = (('https:' == document.location.protocol) ? 'https://ssl.' : 'http://www.');
document.write( unescape('%3Cscript src=\'' + gaJsHost + 'google-analytics.com/ga.js\' type=\'text/javascript\'%3E%3C/script%3E'));;
</script>
<script type='text/javascript'>
try{
var pageTracker = _gat._getTracker('UA-15228139-2');
pageTracker._trackPageview();
} catch(err) {}
</script>
<% end %>



<% if false && flash.keys.size > 0 %>
<script type="text/javascript">
  <% flash.keys.collect do |k| %>
    alert("<%= flash[k] %>");
  <% end %>
</script>
<% end %>

    </div>

</body>
</html>
